.App {
  display: flex;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.889);
/*  justify-content: center;*/
 /* margin-top: 20hh;*/
 
}


.head {
background-color: rgba(0, 0, 0, 0.993);
background-image: url('image.jpg');
}

.header {
margin-left: 880px; 
width: 150px;
height: 18px;
flex-direction: row-reverse;
}


.button{
  height: 40px ;width: 250px; 
  background-color: rgb(0, 42, 255);
  margin-top: 10px;
  margin-bottom: 10px;border-radius: 15px;
}
body{

  background-repeat: no-repeat;

  background-size: cover;
}

.container{
display: flex;
gap: 25px;
flex-wrap: wrap;
justify-content: center;
margin-top: 8%;
margin-left: 2%;
margin-right: 2%;

}
.desplegable{
  background: #0f31aad1;
}
.barras{
height: 8vh;
  display:flex;
  padding-top: 15px;
}
ul{
  margin-top: 50hh;
  display: flex;
  flex-direction: row-reverse;
}
li{
  list-style: none;
}
nav a{
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
}
li a{
  padding: 10px;
  display: block;
  text-align: left;
}
ul li a:hover{
  background: #1f058a;
}
/*aca configuro como se veria en tablet*/
@media (max-width: 850px){
  .barras{
      background-color: #ffffff;
      display: block;
  }
  .desplegable{
      /*width: 50%;
      height: 100vh;*/
      transform: translate(-100%);
      transition: 0.5s;
      font-size: 1.5rem;
      width: 50%;
      background: rgba(165, 184, 216, 0.591);
      backdrop-filter: blur(2px);
  }
  i{
      font-size: 30px;
      background: #3959d0;
      color: white;
  }
  li a{
      padding: 20px 0px 20px 20px;
      display: block;
      text-align: left;
  }
  ul{
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
  }
  button{
      margin: 10px 10px 10px 20px;
      border: none;
  }
  .boton_menu{
      background-image: url('./logo.png');
      background-color: transparent;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      background-size: 50px 50px;
      background-position: left;
  }
  /*con esta clase abro y cierro el menu con toggle*/
  .abrir_menu{
      background: rgba(21, 147, 236, 0.6);
      backdrop-filter: blur(2px);
      transform: translate(0%);
      width: 50%;
      transition: 0.5s;
  }
  /*con esta clase cambio las barras por una x*/
  .colocar_x{
      background-image: url('./icono_menu.png');
      background-color: #6ad29c41;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      background-size: 30px 30px;
      background-position:center;
  }
}
/*aca configuro como se veria en celular*/
@media (max-width: 500px){
  .desplegable{
      width: 100%;
      height: 100vh;
      font-size: 1.6rem;
  }
  button{
      margin: 10px 10px 10px 15px;
  }
}

.oneframe{
  flex: 0.9;
  /*background-color: #3959d0;
  margin-left: 35%;
  margin-right: 35%
  /*color: aliceblue;
  height: 50px;*/
  background-size: 100px 10em;
  /*width: 150px;
  height: 290px;*/
  border-radius: 50;
  box-shadow: 2px 2 px 5px #3333;
  background-color: #878787;
  padding: 20px;
  border: 5px solid #0015ff;
  margin-left: 10%;
  
} 

.box{
background-color: rgb(0, 136, 255);
border-radius: 20px;
text-align: left;
}

.image{
  height: 85px;
  margin-bottom: 5%;
}

.text{
margin-left: 25px;
padding-top: 10px;
margin-top: 3%;
padding-bottom: 10px;
}

.twoframe{
/*height: 50px;
background-color: #3e8bdd;
flex-direction: column;
color: azure;
margin-left: 35%;
margin-right: 35%;*/
flex: 1.0;
/*width: 250px;
height: 300px;*/
border-radius: 20px;
box-shadow: 2px 2 px 5px #3333;
background-color: #878787;
padding: 30px;
text-align: center;
border: 5px solid #001aff;
margin-right: 10%;
}
.threeframe{
  /*background-color: #0267d4;
  flex-direction: column;
  margin-left: 35%;
  margin-right: 35%;
  height: 50px;*/
  /*width: 250px;
  height: 300px;*/
  flex: 1.0;
  border-radius: 20px;
  box-shadow: 2px 2 px 5px #3333;
  background-color: rgb(177,214,238);
  padding: 10px;
  text-align: center;
  border: 2px solid #ff0000;
  }